body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	font-size: 0;
	font-weight: normal;
	line-height: 1.5;
}

body a {
	text-decoration: none;
		font-size: 14px;
}

.m-width {
	width: 1200px;
	min-height: 200px;
	margin: 0 auto;
	box-sizing: border-box;
}

span {
	color: #1eba9b;
	font-weight: bold;
}

/* HEADERS */

.top {
	background-color: black;
	height: 40px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	position: fixed;
	width: 1200px;
}

.top a {
	color: white;
}

.top__logo {
	float: left;
	padding: 0 0 15px 70px;
	box-sizing: border-box;
}

.top nav {
	float: right;
	font-size: 14px;
}

.top nav li {
	display: inline-block;
	padding: 0 70px 15px 0;
	box-sizing: border-box;
}

.header__main {
	background: rgba(249,249,249,1);
background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(206,206,212,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(206,206,212,1)));
background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(206,206,212,1) 100%);
background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(206,206,212,1) 100%);
background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(206,206,212,1) 100%);
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(206,206,212,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ceced4', GradientType=0 );
	height: 500px;
	box-sizing: border-box;
	position: relative;
	top: 40px;
}

.arrow_left {
	color: #1eba9b;
	font-size: 90px;
	display: inline-block;
	position: absolute;
	left: 70px;
	bottom: 200px;
}

.arrow_right {
	color: #1eba9b;
	font-size: 90px;
	display: inline-block;
	position: absolute;
	right: 70px;
	bottom: 200px;
}

.header__main img {
	height: 337px;
	position: absolute;
	left: 100px;
	bottom: 90px;
}

.header__text {
	height: 500px;
	width: 600px;
	position: absolute;
	right: 20px;
		
}

h1 {
	width: 400px;
	color: black;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	bottom: 300px;
}

.header__text p {
	width: 400px;
	text-align: center;
	position: absolute;
	bottom: 210px;
	font-size: 14px;
	
}

.header__text a {
	position: absolute;
	bottom: 150px;
	left: 50px;
	width: 300px;
	height: 40px;
	background-color: #1eba9b;
	border-radius: 7px;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	box-sizing: border-box;
	padding: 10px 0;
	font-size: 14px;
	
	
}


/* CONTENT */

.section__products {
	height: 360px;
}

div.section__products {
	width: 1095px;
	height: 225px;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid hotpink;
	position: relative;
	top: 30px;
	
}

.section__products article {
	width: 330px;
	height: 225px;
	display: inline-block;
	margin: 0 15px;
	padding: 0;
	box-sizing: border-box;
}

.main__item img {

}

.main__desc {
	border: 1px solid lightgray;
}

.main__desc p {
	font-size: 14px;
}

.main__desc h3 {
	font-size: 14px;
}

div.little_under_bar {
	height: 5px;
	width: 140px;
	background-color: #1eba9b;
}

.section__costs {
	background-color: rgb(241, 241, 241);
	min-height: 720px;
	position: relative;
}

.cost_tabs {
	width: 1095px;
	border: 1px solid hotpink;
	position: absolute;
	bottom: 55px;
	left: 55px;
}

.cost {
	width: 330px;
	height: 490px;
	background-color: white;
	border: 1px solid lightgray;
	box-sizing: border-box;
	margin: 15px;
	display: inline-block;
	font-size: 14px;
}

.round_top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: lightgray;
	border: 1px solid lightgray;
	box-shadow: inset 0 0 0 12px white;
	margin: -35px auto 0;
}

.cost_middle {
	background-color: #1eba9b;
	border-color: #1eba9b;
}

.cost_middle .round_top {
	background-color: white;
	border: 1px solid #1eba9b;
	box-shadow: inset 0 0 0 12px #1eba9b;
}

/* FORM */

.section__contact {
	min-height: 520px;
}

.form__left {
	display: inline-block;
}

.form__left form {
	display: block;
	width: 630px;
	font-size: 14px;
}

.form__right {
	display: inline-block;
	
}

.form__right form {
	display: block;
	width: 340px;
	font-size: 14px;
}

/* FOOTER */



