.s4_costs {
	width: 100%;
	height: 720px;
	display: flex;
	flex-flow: column nowrap;
	padding: 70px;
	padding-top: 30px;
	background-color: #F8F8F8;
}

.cost_tabs {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 40px;
	
	article.cost {
		flex-basis: 335px;
		height: 490px;
		border: 1px solid lightgray;
		background-color: white;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		
		.round_top {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: lightgray;
			border: 1px solid lightgray;
			box-shadow: inset 0 0 0 12px white;
			margin: -35px auto 0;
		}
		
		.plan {
			height: 50px;
			font-family: $font;
			color: $color;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 20px 0;
		}
		
		.cost_sticker {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			border: 1px solid lightgray;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			font-family: $font;
			
			.price {
				display: flex;
				//flex-flow: row nowrap;
				justify-content: center;
				font-size: 36px;
				font-weight: bold;
				color: lightgray;
				//border: 1px solid hotpink;
				
				sup {
					font-size: 40%;
					vertical-align: super;
					position: relative;
					top: 0.4em;
				}
			}
			
			.pln {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
				color: lightgray;
				//border: 1px solid hotpink;
			}
		}
		
		.plan_options {
			margin: 40px 0;
			width: 100%;
			height: 160px;
			font-family: $font;
			font-size: 20px;
			
			li {
				padding: 10px;
				text-align: center;
				color: gray;
				background-color: #F8F8F8;
				
				&:nth-child(2n+1) {
					background-color: #E8E8E8;
				}
			}
		}
		
		.cost_button{
			@extend %button;
			width: 40%;
			height: 40px;
			font-size: 12px;
			position: relative;
			bottom: 20px;
		}
	}
	
	article.alter_cost {
		background-color: $color;
		
		.round_top {
			background-color: white;
			border: 1px solid $color;
			box-shadow: inset 0 0 0 12px $color;
		}
		
		.plan {
			color: azure;
		}
		
		.cost_sticker {
			border-color: white;
			background-color: white;
			
			.price, .pln {
				color: $color;
			}
		}
		
		.cost_button {
			background-color: white;
			color: $color;
			font-weight: bold;
			
			&:hover {
				box-shadow: 0 0 7px white;
				background-color: white;
			}
		}
		
		.plan_options {
			border: 2px solid $color;
		
			li {
				background-color: #E8E8E8;

				&:nth-child(2n+1) {
					background-color: #F8F8F8;
				}
			}
		}
	}
}
	