//	@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext);
	
$color: #1eba9b;

$font: "Raleway", sans-serif;

* {
	font-family: $font;
	box-sizing: border-box;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}

body {
	max-width: 1200px;
	margin: 0 auto;
}

%button {
	background-color: $color;
	border-radius: 6px;
	color: azure;
	font-family: $font;
	text-transform: uppercase;
}

h2 {
	font-family: $font;
	text-transform: uppercase;
	font-size: 20px;
	color: black;
	margin-bottom: 6px;
}

.big_underbar {
	height: 8px;
	width: 333px;
	background-color: $color;
	margin-bottom: 30px;
}
